{% load static %}

<html>
    <head>
    <title>Django blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <header>
            <ul class="menu">
                <li><a href="{% url 'home' %}">Accueil</a></li>
                
                {% if user.is_authenticated %}
                    <li><a  href="{% url 'blog' %}">Django blog</a></li>
                    <li><a href="{% url 'cv' %}">Qui suis-je ?</a></li>
                    <li><h2>Bonsoir {{ user.username }}, je suis sûr que tu es ici grâce à mon OnlyFan</h1></li>
                    <li><a href="{% url 'logout' %}">Déconnexion</a></li>                
                {% else %}
                        <figure>
                            <a href="{% url 'login' %}"><img src="{% static 'img/wink.png' %}" alt="picture wink"></a>
                            <figcaption class="accueil">Ooooh mais tu n'es pas connecté mon bichon ! Viens vite et profite de mon contenu très très HOT en cliquant sur mon visage.</figcaption>
                        </figure>
                {% endif %}
            </ul>

            <!--<h1 ><a href="{% url 'home' %}">Accueil</a></h1>
            <h1><a  href="{% url 'blog' %}">Django blog</a></h1>
            <div class="logout">
                {% if user.is_authenticated %}
                    <p>Bonsoir {{ user.username }}, je suis sûr que tu es ici grâce à mon OnlyFan</p>
                    <h2><a href="{% url 'logout' %}">Déconnexion</a></h2>
                {% else %}
                    <figure>
                        <a href="{% url 'login' %}"><img src="{% static 'img/wink.png' %}" alt="picture wink"></a>
                        <figcaption class="accueil">Ooooh mais tu n'es pas connecté mon bichon ! Viens vite et profite de mon contenu très très HOT en cliquant sur mon visage.</figcaption>
                    </figure>   
                {% endif %}
            </div> -->
        </header>
        <div>
        {% block content %}
        {% endblock content %}
        </div>
        <footer><a href="{% url 'signup' %}"> S'inscrire</a></footer>
    </body>
</html>