{% extends "base.html" %}
{% load static %}

{% block content %}
{% for post in post_list %}
<div class="post-entry">
    <h2 class="menu"><a href="">{{ post.title }}</a></h2>
    <p>{{ post.body }}</p>
</div>
{% endfor %}
{% endblock content %}