{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container">
    <h1>Le beau CV numero UNO de Don Jean Gilbiere</h1>
</div>

    <div class="cv-container">
        <div class="left-column">

            <h1>Regardez comme je suis gai</h1>
            <img src="{% static 'img/profil_décontract.png' %}" alt="photo de profil" width="300" height="400">
        </div>
        <div class="right-column">
            <h1>Mes diplômes</h1>
                <ul>
                    <li>Best Troll World</li>
                    <li>Procrastineur de l'année</li>
                    <li>Meilleur carrière dev branleur d'ATOS</li>
                </ul>
            <h1>Mes compétences</h1>
                <ul>
                    <li>Être capable de porter à bout de bras Flav et Flo sur LoL, ces deux bronzes 5 du dimanche.</li>
                    <li>Je suis capable de me souvenir de toute la vie de Flavien et la raconter de façon très précise.</li>
                    <li>Tolérant, je ne pas suis islamophobe car j'ai un ami avec une barbe d'islamiste</li>
                </ul>
            <h1>Mes activités</h1>
                <ul>
                    <li>Travail</li>
                    <li>Famille</li>
                    <li>Patrie</li>
                </ul>
            <div class="header">
            <h1> Don Jean Gilbiere - Développeur en polystyrène du dimanche</h1>
            </div>
            <div class="content">
            
            </div>
        </div>
    </div>

    {% endblock content %}