{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
    <img class="img" src="{% static 'img/pinky_duck.png' %}" alt="photo duck" width="10%" height="15%">
</div>

<h1 class="accueil">Ma page d'accueil pour les coquins comme toi.</h1>
<img src="{% static 'img/shh.png' %}" alt="Photo shh">
<ul>
    {% for post in post_list %}
    <li>{{ post.text }}</li>
    {% endfor %}
</ul>
{% endblock content %}