{% extends "base.html" %}

{% block content %}
<h2>Log In</h2>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <header></header>
    <button type="submit">Connexion</button>
</form>
{% endblock content %}