@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');

html, body {
    height: 100%;
    margin: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    background-image: url("../img/background_sexy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
  border-bottom: 2px solid #eb3cce;
  margin-bottom: 2rem;
  display: flex;
}

.container {
    height: 8rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: rgb(22, 4, 189);
    background-color: rgba(63, 192, 243, 0.2);
}

.cv-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left-column right-column right-column";
    width: 1200px;
    margin: 100px auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .left-column{
    grid-area: left-column;
    padding: 50px;
    background-color: #4472C4;
    color: white;
  }

  .right-column{
    grid-area: right-column;
    display: grid;
    grid-template-rows: 250px 1fr;
    grid-template-areas: 
      "header"
      "content";
  }

  .header{
    grid-area: header;
    padding: 50px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content{
    grid-area: content;
    padding: 50px;
  }

  .menu {
    display: flex;
    padding: 0;
    justify-content: space-between;
  }

.menu li {
  list-style-type: none;
}

.menu a {
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */   
    
    margin: 0.5rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.4rem 0.4rem;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;           /* Centrage du texte */   
    background-color: #6163f0;    /* Couleur d'arrière-plan */
    color: #fff;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    transition: all 1s;
}

.menu a.actif {
  background-color: #ffe843;
  color: #080807;
  border-color: aqua;
}

.menu a:hover {
  background-color: #ed2794;
  color: #ffe843;
  border-color: #ffe843;
}


footer a {
    color: rgb(59, 8, 243);
    font-size: 20px;
    text-decoration: none;      
    border: 1px solid #fff;     
    border-radius: 4px;          
    transition: all 1s;
    display:block;                
    margin: 0.5rem;               
    padding: 0.4rem 0.4rem;            
    text-align: center;             
    background-color: #6163f0;    
}

footer a:hover {
  background-color: #ed2794;
  color: #ffe843;
  border-color: #ffe843;
}

.logout div {
  float: right;
}

.logout a {
  color: rgb(59, 8, 243);
  text-decoration: none;      
  border: 1px solid #fff;     
  border-radius: 4px;          
  transition: all 1s;
  display:block;                
  min-width: 120px;    
  margin: 0.5rem;               
  padding: 0.4rem 0.4rem;            
  text-align: center;             
  background-color: #6163f0;
  float: right;
}

.logout a:hover {
  background-color: #ed2794;
  color: #ffe843;
  border-color: #ffe843;
}

.accueil {
  color: #ed2794;
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
}

button {
  display: inline-block;
  background-color: #7b38d8;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover {
  background-color: #f7c2f9;
}
button:hover span {
  padding-right: 25px;
}
button:hover span:after {
  opacity: 1;
  right: 0;
}

p {
  color: #eb3cce;
}

h2 {
  color: #ed2794;
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
}

.img {
  float: right;
}

form {
  color: #eb3cce;
}

